Repository fulldiveVR/llm-proxy: changes, and which lint-staged commands are due for each by the changed paths.
All: organize-imports-cli, tslint --fix, prettier --write

.lintstagedrc.yaml:

"*.ts":
  - organize-imports-cli
  - "tslint --fix"
  - "prettier --write"
"*.{js,json,yml,yaml,md}":
  - "prettier --write"

controllers that supports OpenAI Api specification
  CLEANUP-VERIFICATION.md
  DATA-STRUCTURE-SIMPLIFICATION.md
  DEPLOYMENT-SUMMARY.md
  MULTI-PROVIDER-GUIDE.md
  PACKAGE-MANAGER-CONFIG-UPDATE.md
  README-LLM-PROXY.md
  README.md
  config/default.yml
  src/llm-proxy/llm-proxy.controller.ts
  src/llm-proxy/llm-proxy.models.ts
  src/llm-proxy/llm-proxy.service.ts
Due: organize-imports-cli, tslint --fix, prettier --write

simple auto detect provider by model
  src/llm-proxy/llm-proxy.controller.ts
  src/llm-proxy/llm-proxy.service.ts
Due: organize-imports-cli, tslint --fix, prettier --write

fix llm configs injection
  src/llm-proxy/llm-proxy.service.ts
Due: organize-imports-cli, tslint --fix, prettier --write

support function tools with zod, use openai types where it possible
  src/llm-proxy/llm-proxy.controller.ts
  src/llm-proxy/llm-proxy.models.ts
  src/llm-proxy/llm-proxy.service.ts
Due: organize-imports-cli, tslint --fix, prettier --write

fix tools execution, convertion to ai sdk
  src/llm-proxy/llm-proxy.controller.ts
  src/llm-proxy/llm-proxy.models.ts
  src/llm-proxy/llm-proxy.service.ts
  src/token-analytics/token-analytics.models.ts
Due: organize-imports-cli, tslint --fix, prettier --write

code cleaning llm-proxy.service
  src/llm-proxy/llm-proxy.service.ts
  src/utils/index.ts
  src/utils/openai-to-aisdk-converter.ts
  src/utils/openai-tools-converter.ts
Due: organize-imports-cli, tslint --fix, prettier --write

increase payload sime limit (now for 10mb)
  src/main.ts
Due: organize-imports-cli, tslint --fix, prettier --write

fix config for vertex & langfuse
  config/custom-environment-variables.yml
  config/default.yml
  src/llm-proxy/llm-proxy.config.ts
  src/llm-proxy/llm-proxy.controller.ts
  src/llm-proxy/llm-proxy.service.ts
  src/token-analytics/token-analytics.models.ts
  src/token-analytics/token-analytics.module.ts
  src/token-analytics/token-analytics.service.ts
Due: organize-imports-cli, tslint --fix, prettier --write

auto detect provider if not provider provided
  src/llm-proxy/llm-proxy.models.ts
  src/llm-proxy/llm-proxy.service.ts
  src/utils/index.ts
  src/utils/model-provider-utils.ts
Due: organize-imports-cli, tslint --fix, prettier --write

deplot remove staging.yml, fix custom-env-variables
  .pulumi/Pulumi.prod.yaml
  .pulumi/Pulumi.staging.yaml
  .pulumi/Pulumi.yaml
  config/custom-environment-variables.yml
  package.json
Due: prettier --write

pulumi staging draft
  .pulumi/Pulumi.staging-draft.yaml
Due: prettier --write

setup deploy
  .github/workflows/build-and-deploy.yml
  .pulumi/Pulumi.staging.yaml
  .pulumi/Pulumi.yaml
Due: prettier --write

Implement API key authentication middleware for LLM proxy
  AUTH_SETUP.md
  config/custom-environment-variables.yml
  src/auth/auth.guard.ts
  src/auth/index.ts
  src/llm-proxy/llm-proxy.controller.ts
  src/llm-proxy/llm-proxy.module.ts
Due: organize-imports-cli, tslint --fix, prettier --write

Fix build error by commenting out missing User export
  src/domain/index.ts
Due: organize-imports-cli, tslint --fix, prettier --write

add auth api key
  .pulumi/Pulumi.staging.yaml
  src/domain/index.ts
Due: organize-imports-cli, tslint --fix, prettier --write

fix Error generating response: messages: text content blocks must be non-empty
  src/utils/openai-to-aisdk-converter.ts
Due: organize-imports-cli, tslint --fix, prettier --write

try to fix error with invalid arguments for tool
  src/token-analytics/token-analytics.service.ts
  src/utils/openai-tools-converter.ts
Due: organize-imports-cli, tslint --fix, prettier --write

Add OpenRouter provider support
  README.md
  config/custom-environment-variables.yml
  config/default.yml
  src/llm-proxy/llm-proxy.config.ts
  src/llm-proxy/llm-proxy.models.ts
  src/llm-proxy/llm-proxy.service.ts
  src/utils/model-provider-utils.ts
Due: organize-imports-cli, tslint --fix, prettier --write

Use ModelProvider enum values for API documentation
  src/llm-proxy/llm-proxy.models.ts
Due: organize-imports-cli, tslint --fix, prettier --write

Fix ModelProvider enum declaration order
  src/llm-proxy/llm-proxy.models.ts
Due: organize-imports-cli, tslint --fix, prettier --write

Simplify model provider detection logic
  src/utils/model-provider-utils.ts
Due: organize-imports-cli, tslint --fix, prettier --write

Update documentation with OpenAI SDK usage examples
  src/llm-proxy/llm-proxy.controller.ts
Due: organize-imports-cli, tslint --fix, prettier --write

Complete X-Provider header implementation and add Node.js examples
  examples/README.md
  examples/nodejs-client.js
  examples/package.json
  src/llm-proxy/llm-proxy.controller.ts
Due: organize-imports-cli, tslint --fix, prettier --write

support x-provider header
  src/llm-proxy/llm-proxy.controller.ts
Due: organize-imports-cli, tslint --fix, prettier --write

minor fixes
  src/llm-proxy/llm-proxy.controller.ts
  src/utils/model-provider-utils.ts
Due: organize-imports-cli, tslint --fix, prettier --write

add keys
  .pulumi/Pulumi.staging.yaml
Due: prettier --write

auto detect openrouter models if no more info provided
  src/utils/model-provider-utils.ts
Due: organize-imports-cli, tslint --fix, prettier --write

added rmq, mongo, users, auth
  .pulumi/Pulumi.staging-draft.yaml
  config/custom-environment-variables.yml
  config/default.yml
  package.json
  src/app.module.ts
  src/auth/auth.config.ts
  src/auth/auth.guard.ts
  src/auth/auth.models.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/index.ts
  src/infrastructure/database/database.utils.ts
  src/infrastructure/database/index.ts
  src/infrastructure/index.ts
  src/infrastructure/infrastructure.module.ts
  src/infrastructure/rmq/index.ts
  src/infrastructure/rmq/rmq.config.ts
  src/infrastructure/rmq/rmq.module.ts
  src/lib/index.ts
  src/lib/repository.base.ts
  src/llm-proxy/llm-proxy.controller.ts
  src/llm-proxy/llm-proxy.service.ts
  src/user/index.ts
  src/user/user.controller.ts
  src/user/user.events.ts
  src/user/user.models.ts
  src/user/user.module.ts
  src/user/user.parser.ts
  src/user/user.repository.ts
  src/user/user.service.ts
  yarn.lock
Due: organize-imports-cli, tslint --fix, prettier --write

credits module, billing domain, UseCreditsGuard
  .gitignore
  config/default.yml
  package.json
  src/app.module.ts
  src/credits/credits.guard.ts
  src/credits/credits.models.ts
  src/credits/credits.module.ts
  src/credits/credits.service.ts
  src/domain/index.ts
  src/llm-proxy/llm-proxy.controller.ts
  src/llm-proxy/llm-proxy.models.ts
  src/user/user.models.ts
  src/user/user.repository.ts
  src/user/user.service.ts
Due: organize-imports-cli, tslint --fix, prettier --write

gitkeep for billing domain
  src/domain/_generated/billing/.gitkeep
Due: none

fix credits guard
  src/credits/credits.guard.ts
  src/credits/index.ts
  src/llm-proxy/llm-proxy.controller.ts
  src/llm-proxy/llm-proxy.service.ts
Due: organize-imports-cli, tslint --fix, prettier --write

draft set jwt secret & rmq uri to staging
  .pulumi/Pulumi.staging.yaml
Due: prettier --write

clean llm proxy controoler
  src/llm-proxy/llm-proxy.controller.ts
Due: organize-imports-cli, tslint --fix, prettier --write

mongo to staging
  .pulumi/Pulumi.staging.yaml
Due: prettier --write

add jwt secret and rabbitmq uri
  .pulumi/Pulumi.staging.yaml
Due: prettier --write

try catch for handle user created/updated
  src/user/user.controller.ts
Due: organize-imports-cli, tslint --fix, prettier --write

support output schema
  src/llm-proxy/llm-proxy.models.ts
  src/llm-proxy/llm-proxy.service.ts
  src/utils/json-schema-to-zod.ts
  src/utils/openai-to-aisdk-converter.ts
Due: organize-imports-cli, tslint --fix, prettier --write
